apiVersion: apps/v1
kind: Deployment
metadata:
  name: employee-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: employee-service
  template:
    metadata:
      labels:
        app: employee-service
    spec:
      containers:
      - name: employee-service
        image: nanil0034/kindergarten-registry-employee:25
        ports:
        - containerPort: 5003
        env:
        - name: MONGODB_URI
          valueFrom:
            secretKeyRef:
              name: mongo-secret
              key: mongodb-uri
        - name: DATABASE_NAME
          valueFrom:
            secretKeyRef:
              name: mongo-secret
              key: database-name
        - name: ELASTIC_APM_SERVER_URL
          valueFrom:
            secretKeyRef:
              name: mongo-secret
              key: elastic-apm-server-url
        - name: ELASTIC_APM_SECRET_TOKEN
          valueFrom:
            secretKeyRef:
              name: mongo-secret
              key: elastic-apm-secret-token
        - name: ELASTIC_APM_SERVICE_NAME
          valueFrom:
            secretKeyRef:
              name: mongo-secret
              key: elastic-apm-service-name-employee
---
apiVersion: v1
kind: Service
metadata:
  name: employee-service
spec:
  selector:
    app: employee-service
  ports:
    - protocol: TCP
      port: 5003
      targetPort: 5003  
      nodePort: 30003  
  type: NodePort