apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: nanil0034/kindergarten-registry-frontend:13
        ports:
        - containerPort: 3000
        env:
          - name: REACT_APP_STUDENT_SERVICE_URL
            value: "http://student-service:5001"
          - name: REACT_APP_TEACHER_SERVICE_URL
            value: "http://teacher-service:5002"
          - name: REACT_APP_EMPLOYEE_SERVICE_URL
            value: "http://employee-service:5003"
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
  type:  LoadBalancer