apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: nanil0034/kindergarten-registry-frontend:25
        ports:
        - containerPort: 80
        env:
        - name: ELASTIC_APM_SERVER_URL
          valueFrom:
            secretKeyRef:
              name: mongo-secret
              key: elastic-apm-server-url
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: NodePort