apiVersion: apps/v1
kind: Deployment
metadata:
  name: student-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: student-service
  template:
    metadata:
      labels:
        app: student-service
    spec:
      containers:
      - name: student-service
        image: nanil0034/kindergarten-registry-student:25
        ports:
        - containerPort: 5001
        env:
        - name: MONGODB_URI
          valueFrom:
            secretKeyRef:
              name: mongo-secret
              key: mongodb-uri
        - name: DATABASE_NAME
          valueFrom:
            secretKeyRef:
              name: mongo-secret
              key: database-name
        - name: ELASTIC_APM_SERVER_URL
          valueFrom:
            secretKeyRef:
              name: mongo-secret
              key: elastic-apm-server-url
        - name: ELASTIC_APM_SECRET_TOKEN
          valueFrom:
            secretKeyRef:
              name: mongo-secret
              key: elastic-apm-secret-token
        - name: ELASTIC_APM_SERVICE_NAME
          valueFrom:
            secretKeyRef:
              name: mongo-secret
              key: elastic-apm-service-name-student
---
apiVersion: v1
kind: Service
metadata:
  name: student-service
spec:
  selector:
    app: student-service
  ports:
    - protocol: TCP
      port: 5001
      nodePort: 30001
  type: NodePort
