apiVersion: apps/v1
kind: Deployment
metadata:
  name: student-service
  labels:
    app: student-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: student-service
  template:
    metadata:
      labels:
        app: student-service
    spec:
      containers:
      - name: student-service
        image: nanil0034/kindergarten-registry-student:79
        imagePullPolicy: Always
        ports:
        - containerPort: 5001
        env:
        # Vault Configuration
        - name: VAULT_ADDR
          value: "http://192.168.121.132:8200"
        - name: VAULT_TOKEN
          valueFrom:
            secretKeyRef:
              name: vault-tokens
              key: student-token
        - name: VAULT_SKIP_VERIFY
          value: "true"
        - name: SERVICE_NAME
          value: "student"
---
apiVersion: v1
kind: Service
metadata:
  name: student-service
spec:
  selector:
    app: student-service
  ports:
    - protocol: TCP
      port: 5001
      targetPort: 5001
      nodePort: 30001
  type: NodePort