apiVersion: apps/v1
kind: Deployment
metadata:
  name: student-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: student-service
  template:
    metadata:
      labels:
        app: student-service
    spec:
      containers:
      - name: student-service
        image: nanil0034/kindergarten-registry-student:34
        ports:
        - containerPort: 5001
        env:
          - name: MONGO_URI
            value: "mongodb://mongo:27017"
---
apiVersion: v1
kind: Service
metadata:
  name: student-service
spec:
  selector:
    app: student-service
  ports:
    - protocol: TCP
      port: 5001
  type: ClusterIP